{% extends 'portfolio/base.html' %}
{% block content %}
<h1 class="mb-4">{{ project.title }}</h1>

<div id="carouselProject" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for img in project.images.all %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ img.image.url }}" class="d-block w-100 rounded" alt="Project Image">
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselProject" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<p>{{ project.description }}</p>
<a href="{% url 'home' %}" class="btn btn-secondary mt-3">← Назад к проектам</a>
{% endblock %}
